<mat-card class = "form-card" tabindex="0">

  <div class = "form-content">

  <mat-card-title class = "card-title">
      Registration
  </mat-card-title>

  <mat-card-content class = "form-content">
    <form class="form-content" [formGroup]="registrationFormGroup" (ngSubmit)="registerUser()" >

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text"  [formControl]="usernameControl">
        <mat-icon matSuffix >person_outline</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput type="text"  [formControl]="firstNameControl">
        <mat-icon matSuffix >person_outline</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput  type="text" [formControl]="lastNameControl">
        <mat-icon matSuffix >person_outline</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Passport Number</mat-label>
        <input matInput type="text" [formControl]="passportControl">
        <mat-icon matSuffix >Passport</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" [formControl]="emailControl">
        <mat-icon matSuffix >email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput type="tel" [formControl]="phoneNumberControl">
        <mat-icon matSuffix >phone_iphone</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="passwordControl">
        <mat-icon matSuffix >password</mat-icon>
      </mat-form-field>

      <div>
        <button  type="submit" mat-fab extended color="primary" [disabled]="registrationFormGroup.invalid">
          Register
        </button>

      </div>
    </form>


  </mat-card-content>

</div>



</mat-card>
