<mat-card class = "form-card" tabindex="0">

  <div class = "form-content">
    <img src="../../assets/Molo Air-1.png" width="250px" height="200px">

  <mat-card-title class = "card-title">
      Login
  </mat-card-title>

  <mat-card-content class = "form-content">

    <form class="form-content" (ngSubmit)="verifyUser()" #loginForm="ngForm">

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" type="text" #usernameInput = "ngModel" name="username" required>
        <mat-icon matSuffix >person_outline</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" type="password" #passwordInput = "ngModel" name="password" required>
        <mat-icon matSuffix >password</mat-icon>
      </mat-form-field>

      <a mat-button color="primary" style="padding-bottom: 10px;" (click) = "goToRegistration()">Don't have an account yet? Register Now</a>

      <div>
        <button type="submit" mat-fab extended color="primary" [disabled]="loginForm.form.invalid" >
          Login
        </button>

      </div>
    </form>


  </mat-card-content>

</div>



</mat-card>
